
#logo{
    margin-right: 2%;
    float:left;
    border: 2px solid black;    
    height:100px;
    width: 100px;
}

h1{
    margin: 0 auto;
}
h2{
    margin: 0 auto;
}

table{
    margin: auto;
    float: left;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 5px;
  }

#table1{
    float: left;
    margin-right: 10%;
}

#table1 td tr:first-child{
    width: 20%;
}

#table td tr:last-child{
    width: 80%;
}

#table2{
    float: left;
}

#table2 td{
    width: 5%;
    height: 5%;
}


td{
    color: black;
    font-size: 1.5em;
}